<table class="table">
    <thead>
        <tr>
            <th>Количество</th>
            <th>Числа</th>
            <th>Квадраты</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @result[0] %></td>
            <td><%= @result[1]%></td>
            <td><%= @result[2] %></td>
        </tr>
    </tbody>
</table>
<p>
    <% @message.each do |error| %>
        <%= error %>
    <% end %>
</p>
<div>
    <a href = "/">Повторить ввод<a>
</div>